:root {
    --blue: #3690c0;
    --orange: #fd8d3c;
    --red: #ed7a7b;
    --description-font-size: 16px;
    --idiom-font-size: 26px;
    --title-font: 'Gothic A1', sans-serif;
}

body *{
    font-family: 'Open Sans', sans-serif;
}

.pure-g {
    margin-bottom: 40px;
}

.footer {
    font-size: 14px;
    margin-left: 100px;
}

.page-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--orange);
    font-family: var(--title-font);
}

.page-title-description {
    font-size: var(--description-font-size);
    font-weight: 300;
    margin-bottom: 20px;
    color: black;
    padding: 0 200px ;
}

.line-break {
    width: 100%;
    margin: 0 100px 30px 100px;
    height: 10px;
    border-bottom: 1px solid lightgray;
}

.bi {
    width: 60px;
    height: 60px;
    fill: var(--orange);
}

.idiom-title {
    font-size: var(--idiom-font-size);
    font-weight: 500;
    margin-top: 3px;
    color: black;
    font-family: var(--title-font);
}

.idiom-subtitle {
    font-size: var(--description-font-size);
    font-weight: 300;
    margin-bottom: 20px;
    color: black;
    padding: 20px 225px 0 0;
}

.content {
    margin-left: 100px;
}

.idiom {
    margin-bottom: 60px;
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}

.red{
    color: var(--red);
}

.bold {
    font-weight: 600;
}
